.search-box {
  font-size: 16px;
  border-radius: 8px;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}