input {
  border-color: rgb(200, 200, 200);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  margin-bottom: 12px;
}

.fname,
.lname {
  width: 148px;
}

.email {
  display: block;
  width: 335px;
}

.signup-button {
  background-color: rgb(47, 127, 231);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 368px;
}